<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<context:annotation-config/>
	
	<context:mbean-server id="mbeanserver" />
	<context:mbean-export server="mbeanserver" registration="replaceExisting" default-domain="prefix"/>


	<bean class="net.sf.prefixedproperties.spring.PrefixedPropertiesPlaceholderConfigurer">
		<property name="defaultPrefixSystemPropertyKey" value="environment"/>
		<property name="placeholderPrefix" value="#("/>
		<property name="placeholderSuffix" value=")#"/>
		<property name="location" value="classpath:application.properties"/>
		<property name="processOtherProperties" value="true"/>
	</bean>
	
	<bean class="net.sf.prefixedproperties.spring.PrefixedPropertyOverrideConfigurer">
		<property name="defaultPrefixSystemPropertyKey" value="environment"/>
		<property name="location" value="classpath:application.properties"/>
		<property name="ignoreInvalidKeys" value="true"/>
	</bean>	
	
	<bean id="bean1" class="net.sf.prefixedproperties.Bean">
		<property name="value" value="#(key)#"></property>
		<property name="test" value="#(key2)#"></property>
	</bean>
	
	<bean id="bean2" class="net.sf.prefixedproperties.Bean"/>


	<bean id="log4j" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
		<property name="location" value="classpath:log4j_replacements.properties"/>
	</bean>
</beans>